trigger: 
- main     # runs only on git push to main

# none   # Run manually only

pool:
  name: default
  demands:
  - agent.name -equals LAPTOP-0TDKIKV6  # <-- change to your agent's name
  # vmImage: 'ubuntu-latest'  # for Option 1 once Azure gave free access to run pipeline

steps:
# ---------------------------
# 1. Checkout Code
# ---------------------------
- checkout: self
  clean: true

# ---------------------------
# 2. Use AWS Service Connection
# ---------------------------
#- task: AWSCLI@1
 # inputs:
  #  awsCredentials: 'aws_terraform_sop_connection'        # <<< CHANGE THIS
   # regionName: 'us-east-1'         # Your region
  #displayName: 'Configure AWS Credentials'

# ---------------------------
# 3. Install Terraform
# ---------------------------
- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.13.5'
  displayName: 'Install Terraform'

# --------------------------
# 4. Set AWS credentials using ENV variables
# --------------------------
- script: |
    echo "AWS credentials set from pipeline variables"
  env:
    AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
    AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
    AWS_DEFAULT_REGION: us-east-1
  displayName: "Set AWS ENV Variables"


# ---------------------------
# 5. Terraform Init
# ---------------------------
- script: |
    terraform init
  displayName: 'Terraform Init'

# ---------------------------
# 6. Terraform Validate
# ---------------------------
- script: |
    terraform validate
  displayName: 'Terraform Validate'

# ---------------------------
# 7. Terraform Plan
# ---------------------------
- script: |
    terraform plan -out=tfplan
  displayName: 'Terraform Plan'

# ---------------------------
# 8. Terraform Apply
# ---------------------------
- script: |
    terraform apply -auto-approve tfplan
  displayName: 'Terraform Apply'
  condition: succeeded()
